<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Configuración
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Configuración</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <h2>Configuración de la Aplicación</h2>
    <p>Aquí puedes configurar las opciones de tu aplicación.</p>
    
    <ion-button expand="block" (click)="volverAHome()" style="margin-top: 20px;">
      Volver a Home
    </ion-button>
  </div>
</ion-content> 